

<h6>DESIGN WORK </h6>
<br>
<p> Check back later for an archive of design projects.  </p>

<hr>
<h6>JOURNAL / NOTES </h6>
<ul id="post-list">
<br>

    {% for post in paginator.posts %}
        <li>
            <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}"><aside class="dates">{{ post.date | date:"%b %d, '%y" }}</aside></a>
            <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }} <h2>{{ post.description }}</h2></a>
        </li>
    {% endfor %}
</ul>



{% if paginator.previous_page or paginator.next_page %}
    {% include pagination.html %}
{% endif %}
