<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}

             <h1 class="hello">HELLO WORLD!</h1>

           </br>

                <img src="{{ site.baseurl }}assets/images/me.jpg"/>

        {% else %}
            <img src="{{ site.baseurl }}assets/images/me.jpg"/>
        {% endif %}

            <h2>I'm Christine, a designer and lifelong learner who loves to make happy things for the internet everyday.
             Here's a cat illustration for you.
           </h2>

            <h2> Find me on <a href="https://instagram.com/ciijpop" target="_blank"> Instagram</a>
              and <a href="https://twitter.com/ciijpop" target="_blank">Twitter</a>, or send me a
              <a href= "mailto:christinetapawan@gmail.com">message</a>
              if you want to collaborate or take a peek at my online portfolio. Brb designing and
              illustrating things as always.  



          </h2>
    </section>
</div>
