<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}

             <h1 class="hello">HELLO WORLD!</h1>

           </br>

                <img src="{{ site.baseurl }}assets/images/me.jpg"/>

        {% else %}
            <img src="{{ site.baseurl }}assets/images/me.jpg"/>
        {% endif %}

            <h2>I'm Christine, a designer and lifelong learner who loves to make happy things for the internet.
           </h2>

            <h2> I occasionally cultivate my <a href="http://garden.hi-christine.com" target="_blank">online garden</a>,  post snippets on <a href="https://dribbble.com/cij" target="_blank">Dribbble</a>, and share my life moments on <a href="https://instagram.com/ciijpop" target="_blank"> Instagram</a>
              and <a href="https://twitter.com/ciijpop" target="_blank">Twitter</a>. </h2>
    </section>
</div>
