<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}

             <h1 class="hello">HELLO WORLD!</h1>

           </br>

                <img src="{{ site.baseurl }}assets/images/me.jpg"/>

        {% else %}
            <img src="{{ site.baseurl }}assets/images/me.jpg"/>
        {% endif %}

            <h2>I'm Christine, a designer and lifelong learner who loves to make happy things for the internet.
             Here's a cat illustration for you.
           </h2>

            <h2> Find me on <a href="https://instagram.com/ciijpop" target="_blank"> Instagram</a>
              and <a href="https://twitter.com/ciijpop" target="_blank">Twitter</a>.

          </h2>
    </section>
</div>
